

<div class="bloque1" id="inicio">
    <div class="animacion1">
      <h1 class="typed-out">Sergio Cabrera</h1>
    </div>
    <h3>Junior Full Stack</h3>
    <div class="botones">
      <a href="../../../assets/Curriculum2025.pdf" download="CV sergio 2025.pdf" class="cv" id="miBoton">
        <img src="../../../assets/img/download.png" alt="" width="20px"/>Descargar CV
      </a>
      <a href="https://www.linkedin.com/in/sergio-cabrera-dominguez-dev/" class="linkedin" id="miBoton1" target="_blank">
        <img class="svg_footer" src="../../../assets/img/brand-linkedin.png" alt="" width="22px">Linkedin
      </a>
      <a href="https://github.com/SergioCabreraDev" class="github" id="miBoton2" target="_blank">
        <img class="svg_footer" src="../../../assets/img/brand-github.png" alt="" width="22px">GitHub
      </a>
    </div>
  </div>
  