<div class="footer">


    <div class="contactos">
      <a href="https://github.com/SergioCabreraDev" target="_blank"><img class="svg_footer" src="/assets/img/brand-github.png" alt="" width="25px"/></a>
      <a href="https://www.linkedin.com/in/sergio-cabrera-dominguez-dev/" target="_blank"><img class="svg_footer" src="/assets/img/brand-linkedin.png" alt="" width="25px"/></a>
      <a href="mailto:scabrera.main@gmail.com" target="_blank"><img class="svg_footer" src="/assets/img/Mail-Send--Streamline-Plump.png" alt="" width="25px" /></a>
<p>| Desarrollado por Sergio Cabrera</p>
    </div>

  </div>