<div class="bloque2" id="proyectos">
  <h3 class="proyectos_tittle">PROYECTOS</h3>

  <div class="radio-inputs">
      <label class="radio">
        <input type="radio" name="radio" checked="" [(ngModel)]="selectedCategory"/>
        <span class="name">Todos</span>
      </label>
      <label class="radio">
        <input type="radio" name="radio" value="Front End" [(ngModel)]="selectedCategory"/>
        <span class="name">Front End</span>
      </label>

      <label class="radio">
        <input type="radio" name="radio" value="Back End" [(ngModel)]="selectedCategory"/>
        <span class="name">Back End</span>
      </label>


      <label class="radio">
        <input type="radio" name="radio" value="BI" [(ngModel)]="selectedCategory"/>
        <span class="name">BI</span>
      </label>
  </div>

  <div class="proyectos">

  <ng-container *ngFor="let project of projects">

      <span *ngIf="selectedCategory === 'todos' || project.category.includes(selectedCategory)" class="proyecto backend">
       
          <div class="proyecto_frontend" app-single-project [project]="project"></div>
     
      </span>


      <span *ngIf="selectedCategory === undefined" class="proyecto backend">
        <div class="proyecto_frontend" app-single-project [project]="project"></div>
      </span>

  </ng-container>
  
  </div>
</div>
